@use "../2_utils/mixins" as *;

.board {
  display: grid;
  max-width: 225px;
  max-height: 225px;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 75px);
  background-color: black;
  gap: 2px;

  .cell {
    @include flex(0, center, center);
    background-color: white;
    font-size: 4.5rem;
  }
}
